<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{name}}</title>
    <link rel="stylesheet" href="css/github-markdown.css">
    {{data.json}}
</head>
<body>
<a href="test.html">{{posts.0.title}}</a>
</body>
</html>