<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/github-markdown.css">
    <link rel="stylesheet" href="css/post.css">
</head>
<body>
    <header class="center"><h4>TITLE:{{title}}</h4><br>
            <h4>DATE:{{date}}</h4><br>
            <h4>TAG:{{tag}}</h4><br>
    </header>
    <section class='markdown-body center'>
        {{content}}
    </section>
    <a class='fix-button top' href='#top'>
        Top
    </a>
    <a class='fix-button return' href='./index.html'>
        Return
    </a>
   <div id="cloud-tie-wrapper" class="cloud-tie-wrapper center"></div>
<script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
<script>
var cloudTieConfig = {
  url: document.location.href, 
  productKey: "ff39b4c96c3e4b3b8fab265264a8958b",
  target: "cloud-tie-wrapper"
};
var yunManualLoad = true;
Tie.loader("aHR0cHM6Ly9hcGkuZ2VudGllLjE2My5jb20vcGMvbGl2ZXNjcmlwdC5odG1s", true);
</script>
    <footer class='center'>
        <section class="bottom center">Powered By
            <a href="https://github.com/Easonzero/GeekBlog">GeekBlog</a>
        </section>
    </footer>
</body>
</html>
